{% load staticfiles %}
<footer class="swiftseq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-2">
                <h1>Things we do</h1>
                <ul>
                    <li>DNAseq</li>
                    <li>RNAseq</li>
                    <li>ChIPseq</li>
                    <li>DNase-seq</li>
                    <li>ATACseq</li>
                    <li>Other-seq</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h1>Contact us</h1>
                <ul>
                    <li>Knapp Center for Biomedical Discovery</li>
                    <li>900 E. 57th St</li>
                    <li>Chicago, IL 60637</li>
                    <li>Tel: (555)-555-1234</li>
                </ul>

            </div>
            <div class="col-sm-3">
                <h1>Cool people and places</h1>
                <ul>
                    <li>Univeristy of Chicago</li>
                    <li>Institute for Genomics and Systems Biology</li>
                </ul>
            </div>
        </div>
        <div class="row swiftseq-section">
            <div class="col-sm-4 col-sm-offset-2">
                &copy;2015 Jason Pitt, PhD Student<br/>
                Designed and developed by Dominic Fitzgerald
            </div>
            <div class="col-sm-4 ">
                <img src="{% static 'images/uofc_logo.png' %}" style="max-height:50px" />
            </div>
        </div>
    </div>
</footer>