<div>
    <input type="hidden" value="{{ step.id }}" name="programSet-{{ program_set_id }}__step" />
    <h4 style="margin-top:0">Program:&nbsp;&nbsp;
        <a target="_blank" href="{{ step.program_set.first.help_url }}" class="help-url"><span class="fa fa-question-circle"></span></a>
        {% if step.multiple_programs %}
        <span class="fa fa-remove remove" style="float:right;cursor:pointer" data-programsetid="{{ program_set_id }}"></span>
        {% endif %}
    </h4>
    <select class="form-control select-programs" name="programSet-{{ program_set_id }}__program">
        {% for program in step.program_set.all %}
        <option value="{{ program.id }}">{{ program.name }}</option>
        {% endfor %}
    </select>
    <div class="row">
        <div class="col-sm-6">
            <h4>Walltime:</h4>
            <input type="text" class="form-control walltime" name="programSet-{{ program_set_id }}__programAttr-walltime" value="{{ step.program_set.first.walltime }}"/>
        </div>
    </div>
    <h4>Parameters:</h4>
    <div class="parameters-container"></div>
</div>