{% extends 'swiftseqgui2/base.html' %}
{% block content %}
<section class="swiftseq-section">
<div class="container">
    <div class="row swiftseq-text-centered">
        <h1>That's pretty much the hard part.</h1>
        <h3>Now just run it.</h3>
    </div>
</div>
</section>
<section class="swiftseq-section">
<div class="container">
    <div class="row swiftseq-text-centered">
        <div class="col-sm-4">
            <span class="fa fa-linux fa-5x"></span></div>
        <div class="col-sm-4">
            <span class="fa fa-google-wallet fa-5x"></span></div>
        <div class="col-sm-4">
            <span class="fa fa-drupal fa-5x"></span></div>
    </div>
    <div class="row swiftseq-text-centered">
        <div class="col-sm-4">
            <h4>Leggings messenger bag wolf Tumblr chambray.</h4></div>
        <div class="col-sm-4">
            <h4>Distillery Pitchfork vegan food truck</h4></div>
        <div class="col-sm-4">
            <h4>Ex elit minim, Truffaut chillwave pour-over hoodie Odd Future +1 cupidatat squid dolore.</h4></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Gentrify consequat tattooed, migas farm-to-table meggings tempor lomo trust fund DIY. Fanny pack quis incididunt non. Plaid aliqua 8-bit pariatur beard deep v. You probably haven't heard of them sunt YOLO, ennui keffiyeh trust fund McSweeney's nesciunt brunch. Banjo Portland shabby chic, tempor cupidatat deep v Etsy YOLO listicle four dollar toast Blue Bottle kitsch culpa High Life. Cold-pressed fingerstache squid roof party yr cornhole reprehenderit, street art nihil sed. Aliquip iPhone occupy, biodiesel 8-bit sapiente vero selvage cred nesciunt fanny pack Thundercats esse in cillum. Proident deep v plaid laborum.</p>
        </div>
        <div class="col-sm-4">
            <p>Cronut drinking vinegar Blue Bottle aute cardigan normcore reprehenderit. Truffaut sint flannel, placeat selfies locavore sapiente whatever. Art party ut sapiente bespoke whatever, pug authentic flannel hashtag church-key Pinterest. Sustainable voluptate twee minim. Voluptate nisi lomo, jean shorts cold-pressed roof party keffiyeh DIY et pour-over meggings dolore photo booth. Fugiat mlkshk hella Kickstarter pariatur, cold-pressed chillwave delectus master cleanse pour-over banjo fashion axe. Ut selfies migas, semiotics qui squid polaroid aliqua scenester four loko Bushwick pop-up pug irure gluten-free.</p>
        </div>
        <div class="col-sm-4">
            <p>Try-hard roof party jean shorts tofu listicle, gluten-free ethical Vice. PBR lomo butcher pork belly, post-ironic polaroid aute fugiat exercitation. Quis next level excepteur, dreamcatcher nesciunt viral ethical consectetur mlkshk Truffaut Thundercats aesthetic pug. Banjo ut distillery ea enim heirloom, duis single-origin coffee salvia deep v hella Shoreditch. Asymmetrical placeat lo-fi letterpress, aute nulla Truffaut Carles swag laboris cold-pressed mixtape Kickstarter Vice taxidermy. Aliquip mixtape art party messenger bag street art tattooed.</p>
        </div>
    </div>
</div>
</section>
<section class="swiftseq-section">
<div class="container">
    <div class="row swiftseq-text-centered">
        <h1>How much do you love us now?</h1>
        <h3>Prove it: buy us beer and pizza.</h3>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Check out this stuff:</h4>
            <p>McSweeney's banh mi paleo. Blue Bottle kale chips kogi, ethical tattooed polaroid tempor Tumblr tilde keytar chambray synth sunt four dollar toast Thundercats. Cred Banksy letterpress kitsch 3 wolf moon sustainable PBR tousled umami dolore. Fugiat do fashion axe salvia enim Marfa. Mollit High Life small batch, +1 ut cillum aute tousled next level heirloom freegan shabby chic cliche pour-over.</p>
        </div>
        <div class="col-sm-6 swiftseq-text-centered">
            <span class="fa fa-youtube fa-5x"></span>
        </div>
    </div>
</div>
</section>

{% endblock content %}